# Binaries
**/bin/
**/bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# CodeLite
.codelite/
**.mk
**.project
**.workspace
compile_flags.txt
Makefile
tags

tmp/
